nav {
    position: sticky;
    z-index: 10;
    top: 0;

    display: flex;

    width: 100%;
    height: 40px;

    border-bottom: 1px solid #ceced0;
    background: #e06b57;

    justify-content: flex-end;


    ul {
        display: flex;

        height: 100%;
        margin: 0;
        padding: 0;

        list-style: none;

        li {
            display: grid;

            width: 40px;
            height: 40px;
            margin: 0 1px;

            cursor: pointer;

            border-left: 1px solid black;

            place-content: center;


            svg {
                color: #fff !important;
            }
        }
    }
}

header {
    position: relative;

    display: flex;
    flex-direction: column;

    width: 100%;
    margin-bottom: 50px;
    padding-bottom: 25px;

    border-bottom: 1px solid #ceced0;

    justify-content: center;

    .container {
        display: flex;

        width: 100%;
        margin: 0 auto;
    }

    .name {
        display: flex;
        flex-direction: column;

        width: 40%;
        min-width: 80px;
        padding-top: 100px;

        h1 {
            font-family: 'Raleway', sans-serif;
            font-size: 60px;
            font-weight: 400;

            margin: 0;

            letter-spacing: 1px;
            text-transform: uppercase;

            color: #3a3935;
        }

        h2 {
            font-family: 'Raleway', sans-serif;
            font-size: 25px;
            font-weight: 300;

            display: flex;

            margin: 0 0 0 0;

            letter-spacing: 0.5px;
            text-transform: uppercase;

            .language {
                position: relative;

                width: 152px;
                height: 30px;
                margin-right: 10px;

                cursor: grabbing;
                transition: all 0.8s ease-in;

                perspective: 1000px;
                transform-style: preserve-3d;

                &:hover {
                    transform: rotateX(180deg);

                    .front {
                        z-index: 1;
                    }
                }

                .front {
                    z-index: 100;

                    backface-visibility: hidden;
                }

                .back {
                    z-index: 102;

                    //transform: rotateY(-180deg);
                }

                .front,
                .back {
                    position: absolute;

                    display: flex;

                    width: 100%;
                    height: 100%;

                    background: #e5e3e6;

                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }

    .information {
        position: relative;

        display: flex;
        flex-direction: column;

        width: 60%;
        margin: 0;
        padding: 0;

        border-left: 2px solid #272727;

        &::before {
            font-size: 42px;
            line-height: 32px;

            position: absolute;
            z-index: 2;
            bottom: -5px;
            left: -9px;

            content: '\00B0\a\00B0\a\00B0';
            white-space: pre-wrap;

            color: #e06b57;
        }

        &::after {
            font-size: 45px;
            line-height: 32px;

            position: absolute;
            z-index: 1;
            bottom: 6px;
            left: -9px;

            content: '\2022\A\2022\A\2022';
            white-space: pre-wrap;

            color: #e5e3e6;
        }

        li {
            position: relative;

            margin-bottom: 15px;
            padding-left: 50px;

            list-style: none;
            list-style-type: none;

            &.looking {
                text-decoration: underline;

                color: #e06b57;

                text-underline-offset: 8px;

                span {
                    font-weight: 900;
                }
            }

            &:first-child {
                margin-top: auto;
            }

            span {
                font-family: 'Raleway', sans-serif;
                font-size: 20px;
                font-weight: 400;

                margin-left: 10px;

                letter-spacing: 2px;

                a {
                    font-weight: 600;

                    transition: color 550ms ease-in-out;
                    text-decoration: none;

                    color: #3a3935;

                    &:hover {
                        color: #e06b57;
                    }
                }
            }
        }
    }
}

@media(max-width:991px) {
    header {
        .information {
            margin-top: 5px;
            padding-top: 25px;

            border-top: 2px solid #272727;
            border-left: none;

            &::after,
            &::before {
                bottom: auto;
                left: auto;

                white-space: normal;
            }

            &::before {
                top: -10px;
                right: 0;

                content: '\00B0 \00B0 \00B0';
            }

            &::after {
                top: -22px;
                right: -4px;

                content: '\2022 \2022 \2022';
            }

            li {
                padding: 0;
            }
        }

        .container {
            display: flex;
            flex-direction: column;

            .name,
            .information {
                width: 100%;
            }
        }
    }
}