.modal {
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;

    display: grid;
    visibility: hidden;

    width: 100%;
    height: 100%;
    padding: 0;

    transition: opacity 550ms ease-in-out, visible 550ms ease-in-out;
    transform: translate(-50%, -50%);

    opacity: 0;

    backdrop-filter: blur(20px) saturate(180%);
    place-content: center;

    &.image {
        .modal-content {
            text-align: center;
        }

        img {
            width: 67%;
        }
    }

    &.open {
        visibility: visible;

        opacity: 1;
    }

    .header {
        display: flex;

        height: 40px;

        border-bottom: 1px solid black;
        background: var(--primary-color);

        align-items: center;

        h1 {
            font-size: 18px;

            margin: 0;
            padding: 0 0 0 15px;

            letter-spacing: 0.1rem;

            color: #fff;
        }


        .close {
            width: 39px;
            height: 39px;

            color: #fff;
            border: none;
            border-left: 1px solid black;
        }
    }

    .sub {
        padding: 10px 15px;

        color: var(--projects-text-color);
        border-bottom: 1px solid black;
        background: var(--bg-invert-color);
        box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.4),
            inset -1px -1px 2px rgba(255, 255, 255, 0.2);
    }

    .body {
        position: relative;

        display: block;

        width: 100%;
        max-width: 800px;

        border: 1px solid black;
        background: var(--bg-color);

        &::before {
            position: absolute;
            left: -55px;

            width: 40px;
            height: 100%;

            content: '';

            opacity: 0.1;
            background: repeating-linear-gradient(45deg,
                    var(--hazard-yellow),
                    var(--hazard-yellow) var(--stripe-width),
                    var(--hazard-black) var(--stripe-width),
                    var(--hazard-black) calc(var(--stripe-width) * 2));

            --hazard-black: var(--primary-color);
            --hazard-yellow: transparent;
            --stripe-width: 10px;
        }

        .modal-content {
            height: auto;
            padding: 20px;

            transition: height 550ms ease-in-out;

            &.expanded {
                height: 500px;
            }

            .video {
                width: 100%;
                height: 400px;
                margin-bottom: 15px;
            }

            iframe {
                width: 100%;
                height: 100%;

                border: none;
            }


            p {
                font-size: 25px;
                font-weight: 300;
                line-height: 32px;

                margin-top: 0;

                strong {
                    font-weight: 700;
                }
            }

            .list {
                .tech {
                    font-weight: bold;

                    position: relative;

                    display: inline-grid;

                    width: auto;
                    height: 30px;
                    margin-right: 10px;
                    padding: 0 10px;

                    cursor: pointer;
                    transition: filter 550ms ease-in-out;
                    text-transform: capitalize;

                    //color: var(--projects-text-color);

                    border: 1px solid black;

                    //background: var(--primary-color);

                    place-items: center;
                }
            }
        }
    }

    .images-wrapper {
        position: absolute;
        top: 80px;
        left: 0;

        display: flex;
        visibility: hidden;
        overflow: hidden;

        width: 100%;
        max-height: 0;

        transition: max-height 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;

        opacity: 0;
        background: var(--bg-color);

        align-items: center;
        gap: 12px;
        justify-content: center;


        button {
            position: absolute;
            z-index: 10;
            top: 50%;

            width: 40px;
            height: 200px;

            transform: translateY(-50%);

            color: var(--projects-text-color);
            border: 1px solid black;
            background: var(--primary-color);

            &.prev {
                left: 25px;
            }

            &.next {
                right: 25px;
            }
        }


        &.expanded {
            visibility: visible;

            max-height: 500px;
            padding: 20px 0;

            opacity: 1;
        }


        img {
            width: auto;
            max-height: 450px;

            object-fit: contain;
        }
    }

    .modal-nav {
        display: flex;

        height: 40px;

        letter-spacing: 0.05rem;

        border: 1px solid black;
        border-top: none;
        background: var(--invert-primary-color);

        align-items: center;

        &.expanded {
            p {
                opacity: 1;
            }
        }

        p {
            margin: 0 0 0 20px;

            opacity: 0;
        }

        button {
            height: 39px;

            color: #fff;
            border: none;
            border-left: 1px solid black;
            background: var(--primary-color);
        }
    }
}