.modal {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    display: grid;
    visibility: hidden;

    width: 100%;
    height: 100%;
    padding: 0;

    transition: all 550ms ease-in-out;

    opacity: 0;

    place-content: center;

    &.open {
        visibility: visible;

        opacity: 1;
    }

    .header {
        display: flex;

        height: 40px;

        border-bottom: 1px solid #ceced0;
        background: #e06b57;

        align-items: center;

        h1 {
            font-size: 12px;

            margin: 0;
            padding: 0;
            padding-left: 15px;
        }


        .close {
            width: 40px;

            color: #fff;
            border-top: none;
            border-bottom: none;
        }
    }


    .body {
        display: block;

        width: 100%;
        min-height: 500px;

        background: #e5e3e6;

        .modal-content {
            padding: 20px;

            iframe {
                border: none;
            }
        }
    }
}