.splash-screen {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;

    display: grid;

    width: 100%;
    height: 100%;

    backdrop-filter: blur(5px);
    place-content: center;

    .splash-card {
        width: 800px;
    }
}