:root {
    --bg-color: #e5e3e6;
    --bg-invert-color: #1c1e1c;
    --bold-color: #000;
    --divider-font: system-ui, Segoe UI, Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
    --header-bottom: #ceced0;
    --header-divider: #272727;
    --img-filter: invert(100%);
    --invert-primary-color: #1f94a8;
    --link-color: #3a3935;
    --primary-color: #e06b57;
    --projects-bg-color: #3a3935;
    --projects-text-color: #c5c6ca;
    --section-bottom: #ceced0;
    --section-divider-bg: #e5e3e6;
    --section-divider-border: #272727;
    --select-border: #1a1a1a;
    --text-color: #3a3935;
    --dot-color: rgba(29, 14, 3, 0.1)
}

:root[data-theme='dark'] {
    --bg-color: #1c1e1c;
    --bg-invert-color: #e5e3e6;
    --bold-color: #fff;
    --divider-font: system-ui, Segoe UI, Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
    --footer-border-top: #31312f;
    --header-bottom: #31312f;
    --header-divider: #d8d8d8;
    --img-filter: invert(0%);
    --invert-primary-color: #e06b57;
    --link-color: #c5c6ca;
    --primary-color: #1f94a8;
    --projects-bg-color: #e5e3e6;
    --projects-text-color: #1a1a1a;
    --section-bottom: #31312f;
    --section-divider-bg: #1a1c19;
    --section-divider-border: #d8d8d8;
    --select-border: #d8d8d8;
    --text-color: #c5c6ca;
    --dot-color: rgba(226, 241, 252, 0.1);
}


body {
    font-family: 'Raleway', sans-serif;

    color: var(--text-color);

    strong,
    b {
        color: var(--bold-color);
    }

    a {
        font-weight: 600;

        transition: color 550ms ease-in-out;
        text-decoration: none;

        color: var(--link-color);

        &:hover {
            color: var(--primary-color);
        }
    }

    svg {
        color: var(--text-color) !important;
    }

    select {
        color: var(--text-color);
    }
}

* {
    scrollbar-color: var(--primary-color) var(--invert-primary-color);
    scrollbar-width: thin;
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}

main {
    background-color: var(--bg-color);

    select,
    a,
    button,
    .birds,
    .menu,
    .photos,
    p {
        pointer-events: auto;
    }
}


.container {
    width: 100%;
    max-width: 1320px;
    padding: 0 20px;
}

button,
.button {
    font-size: 14px;
    font-weight: 400;

    position: relative;

    display: grid;
    overflow: hidden;

    width: 200px;
    height: 40px;
    margin-left: auto;

    cursor: pointer;
    transition: all 0.1s ease;
    text-decoration: none;
    text-transform: uppercase;

    color: var(--text-color);
    border: 1px solid #000;
    background: var(--primary-color);

    place-items: center;
}

#four-oh-four {
    display: grid;

    width: 100vw;
    height: 100vh;

    place-content: center;
    place-items: center;

    h1 {
        margin: 0;
    }
}

.sunken {
    transition: all 0.1s ease;

    &:hover,
    &.active {
        box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.4),
            inset -1px -1px 2px rgba(255, 255, 255, 0.2);
    }
}

.tooltip {
    position: relative;

    &.--horizontal {
        &:hover {
            &::after {
                bottom: -55%;
                left: 0;
            }
        }
    }

    &.--vertical {
        &:hover {
            &::after {
                bottom: 120%;
                left: 50%;
            }
        }
    }

    &:hover {
        &::after {
            font-size: 12px;
            font-weight: bold;

            position: absolute;
            z-index: 20;


            padding: 6px 10px;

            content: attr(data-tooltip);
            transform: translateX(-50%);
            white-space: nowrap;
            letter-spacing: 0.05rem;
            text-transform: capitalize;

            color: var(--projects-text-color);
            background: var(--bg-invert-color);
        }
    }
}

@media (max-width: 991px) {
    .container {
        display: flex;
        flex-direction: column;
    }
}