.packagedotjson {
    pre {
        code {
            font-size: 16px;
        }
    }
}

.birds {
    font-weight: 700;

    display: inline-block;

    cursor: url('/assets/img/logo-eagles.png'), auto;

    color: #004c54;
}