section {
    position: relative;

    display: flex;
    flex-direction: column;

    margin: 0 auto;
    margin-bottom: 50px;
    padding: 50px 0 0 0;

    background-image: linear-gradient(to right,
            var(--primary-color) 0%,
            var(--primary-color) 60%,
            transparent 60%,
            transparent 100%);
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: 16px 2px;

    align-items: center;
    justify-content: center;


    &:nth-of-type(even) {
        .container {
            @media (min-width: 991px) {
                .title {
                    flex-direction: row-reverse;

                    width: 33%;
                    margin-left: auto;

                    svg {
                        margin-right: auto;
                        margin-left: unset;
                    }
                }

                .content {
                    aside {
                        padding-right: 0;
                        padding-left: 50px;

                        order: 1;
                    }

                    .right {
                        padding-right: 50px;
                        padding-left: 0;

                        border-right: 2px solid var(--primary-color);
                        border-left: none;

                        order: 0;

                        &::after {
                            right: -5px;
                            left: auto;
                        }
                    }
                }

                aside {
                    padding-right: 50px;
                }
            }
        }
    }

    h1 {
        font-size: 30px;
        font-weight: 500;

        position: relative;

        margin: 0 0 50px 0;

        letter-spacing: 0.5px;
        text-transform: uppercase;

        &::after {
            position: absolute;
            bottom: -5px;
            left: 25px;

            width: 50px;
            height: 2px;

            content: '';

            background: var(--primary-color);
        }
    }

    .title {
        display: flex;

        width: 30%;

        align-items: center;



        svg {
            position: relative;
            left: 20px;

            margin-left: auto;

            cursor: pointer;
        }
    }

    .content {
        display: flex;
    }

    aside {
        font-size: 25px;
        font-weight: 300;

        width: 30%;
        margin: 0;
        padding-right: 10px;
    }

    .right {
        position: relative;

        width: 70%;
        padding-left: 50px;

        border-left: 2px solid var(--primary-color);

        &::after {
            font-family: var(--divider-font);

            position: absolute;
            top: -4px;
            left: -5px;

            width: 8px;
            height: 8px;

            content: '';

            border: 2px solid var(--section-divider-border);
            border-radius: 50%;
            background-color: var(--section-divider-bg);
            box-shadow: 0 0 0 1px var(--section-divider-bg);
        }

        p {
            font-size: 25px;
            font-weight: 300;
            line-height: 32px;

            margin: 0 0 25px 0;

            strong {
                font-weight: 600;

                display: block;

                margin-bottom: 10px;
            }

            b {
                font-weight: 600;
            }
        }

        em {
            font-size: 12px;
            font-weight: 600;
            line-height: 32px;

            display: block;

            margin: 0 0 50px 0;

            color: var(--primary-color);
        }

        .select {
            display: inline-block;

            margin: 0 10px;

            cursor: pointer;
            transition: all 550ms ease-in-out;

            border-bottom: 1px solid var(--select-border);

            &:hover {
                border-color: var(--primary-color);
            }

            select {
                cursor: pointer;

                border: none;
                outline: none;
                background: transparent;

                appearance: none;
            }

            i {
                pointer-events: none;
            }
        }
    }
}

@media (max-width: 991px) {
    section {
        h1 {
            margin: 0;
        }

        .container {
            aside {
                width: 100%;
                padding-bottom: 25px;
            }

            .title {
                svg {
                    left: 0;
                }
            }

            .title,
            .content {
                width: 100%;
            }
        }


        .content {
            display: flex;
            flex-direction: column;

            padding-top: 25px;

            .right {
                width: 100%;
                padding: 25px 0 0 0;

                border-top: 2px solid var(--primary-color);
                border-left: none;
            }
        }
    }
}