.projects {
    display: grid;

    padding-bottom: 100px;

    grid-template-columns: repeat(3, 1fr);

    .project {
        display: flex;

        width: 250px;
        height: 100px;
        margin: 15px;
        padding: 10px;

        color: #fff;
        border: 1px solid #ceced0;
        background: #3a3935;

        .photo {
            width: 25%;
            margin-right: 15px;

            img {
                display: block;

                width: 100%;
                height: 100%;

                filter: invert(100%);
                object-fit: contain;
            }
        }

        .details {
            position: relative;

            width: 75%;
            padding-left: 10px;

            border-left: 2px solid #1f94a8;
        }

        p {
            font-size: 14px;
            font-weight: 700;
            line-height: 1;

            margin: 0;

            opacity: 0.75;
        }

        span {
            font-style: normal;

            text-transform: uppercase;

            opacity: 0.75;
            color: #1f94a8;
        }
    }
}

.menu {
    position: absolute;
    top: 50%;
    left: 0;

    transform: translateY(-50%);

    .type {
        display: grid;

        width: 30px;
        height: 30px;

        background: #1f94a8;

        place-content: center;
    }
}