.jerb {
    span {
        display: block;

        opacity: 0.5;
    }

    h1 {
        &::after {
            left: 225px !important;
        }
    }

    h2 {
        margin: 5px 0 25px 0;
    }
}